.techs{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1em 0;
  margin-top: 8em;
  background-color: #fff;
}

.tech__item{
  position: relative;
  display: inline-block;
  height: 50px;
}

.tech__item img{
  max-width: 100%;
  max-height: 100%;
}

/* TOOLTIP */


.tech__item .tooltip-text{
  visibility: hidden;
  /* width: 120px; */
  background-color: #198efc;
  color:#fff;
  text-align: center;
  padding: 10px 10px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.3s;
}

.tech__item .tooltip-text::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid;
  border-color: #198efc transparent transparent transparent;
}

.tech__item:hover .tooltip-text{
  visibility: visible;
  opacity: 1;
}
