$dark-bg: #000;

$WHITE: #fff;
$DARK-GRADIENT: linear-gradient(90.44deg, #282828 1.37%, #414448 100.67%);
$BLUE-BACKGROUND: linear-gradient(171.24deg, #0A57CA 3.91%, #00CDFF 46.05%, #4CDCFF 90%, #0A84C7 110.03%);