@use 'colors' as colors;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');



body{
    background-color: colors.$dark-bg;
    color: colors.$clear-bg;
    border-color: colors.$dark-bg;
}