@import '../1_settings/';

.c-resume{
  margin: 50px;
  margin-left: -10px;
  line-height: 24px;
  border-left: 8px solid $blue;
  padding-left: 20px;

  h2{
    margin-bottom: 18px;
  }

  a{
    color: $darkblue;
    font-weight: bold;
  }
}

.cv{
  margin: 0 100px; 

  &__header{
    display: flex;
    padding: 20px;
    margin: 100px 30px;
    // margin-bottom: 50px;
  }

  &__list-item{
    display: flex;
    margin-bottom: 24px;
  }

  &__section-container{
    margin-bottom: 100px;
  }

  &__title-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    h3 {
    padding-left: 10px;
    position: relative;

      &::before{
        content: " ";
        position: absolute;
        width: 0;
        height: 0;
        left: -8px;
        border-bottom: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid $gray;
        border-left: 8px solid $gray;
        
      }
      
      &::after{
        content: " ";
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0;
        border-top: 8px solid transparent;
        border-left: 8px solid transparent;
        border-bottom: 8px solid $gray;
        border-right: 8px solid $gray;
        
      }
    }
  }

  &__separator{
    display: inline-block;
    background-color: $blue;
    margin-left:30px;
    min-width: 70%;
    flex-grow: 1;
    height: 5px;
  }
  
}
.category{
  min-width: 200px;
  font-weight: bold;

  &--with-icon{
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;

    span{
      margin-top: 10px;
    }
  
    img{
      width: 70px;
      border: 2px solid rgb(14, 146, 223);
      padding: 10px;
      border-radius: 50%;
    }
  }

  &__item{
    margin-bottom: 10px;
    width: 100%;

    &.flexmode{
      display: flex;

      p{
        margin-top: 10px;
      }
    }
    .local{
      font-style: italic;
    }
  }
  
}
.ano{
  display: inline-block;
  min-width: 100px;
  text-align: right;
  margin-right: 10px;
  margin-left: 10px;

  &::after{
    content: "|";
    padding-left: 10px;
  }
}



