@import '../1_settings/';

.project-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
  width: 95vw;
  margin: 0 auto;
 
}

.project-title{
  text-align: center;
  align-self: center;
  margin-top: 50px;
  font-size: 2em;
  color:rgb(0, 116, 194)
}

.project{
  margin: 20px 20px;
  padding: 15px;
  width: 35vw;
  min-height: 40vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid transparent;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(182, 181, 184, 0.438);
  transition: all .3s;

  @media(max-width: 600px){
    width: 85vw;
  }
}

.project:hover{
  border: 3px solid $ligthblue;
  box-shadow: 5x 5px 5px 5px rgba(54, 54, 54, 0.438);
  
}

.project__head{
  width: 90%;
  /* padding-left: 15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

}

.project__links{
  display: flex;
  
}

.project__links-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.466);
}

.project__links-item:hover{
  color: #000;
}

.project__links-item span{
  font-size: 10px;
  text-transform: uppercase;
  margin: 3px;
}

.project__title{
  font-weight: bold;
  font-size: 18px;
  /* text-transform: uppercase; */
  color: #2b3136;
}

.project__image{
  width: 95%;
  border: 1px solid rgba(128, 128, 128, 0.384);
  border-radius: 10px;
}



.project__image img{
  width: 100%;
  border-radius: 10px;
}

.project__description{
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #3d4347;
}

.project__action{
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.project__action button{
  border: none;
  background-color: rgb(33, 160, 245);
  color: #fff;
  font-weight: bold;
  padding: 10px 20px ;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: all .3s;

  &:hover{
    background: $ligthblue;
    border: 3px solid $blue;
    font-size: 17px;
    box-shadow: 5x 5px 5px 5px rgba(54, 54, 54, 0.438);

  }
}