$blue: #00A5FF;
$ligthblue: #00CDFF;
$darkblue: #005EEE;
$marineblue: #160963;

$lightgray: #f0eeee;
$gray: #727374;

$black: #000;
$white: #fff;

$alert: #c51717;


/* GRADIENTS */
$blue-gradient: linear-gradient(171.24deg, #0A57CA 3.91%, #00CDFF 46.05%, #4CDCFF 90%, #0A84C7 110.03%);
$darkgrey-gradient: linear-gradient(90.44deg, #282828 1.37%, #414448 100.67%);