@import '../1_settings/colors';

.c-card-list{
  display: flex;
  flex-wrap: wrap;
  grid-area: contact;
  width: 100%;
  justify-content: flex-start;
  padding: 0 50px;

  
  @media (max-width: 600px) {
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    width: 100vw;
  }

}

.c-card{
  background-color: $white;
  border-radius: 5px;
  border: 5px solid $ligthblue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
  padding: 10px;
  width: 380px;
  height: 100px;
  margin: 10px;

 

  @media (max-width: 600px) {
    width: 90vw;
    margin: 10px 0; 
    
  }


  &__text{
    font-family: Ruda;
  }

  &__text h3{
    color: #005EEE;
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  &__text span{
    color: #000;
  }
  
  &:hover{
    background-color: #636869;
    border-color: #484c4d;
    color: $white;

    .c-card__text h3, .c-card__text span, .c-contact-icon{
      color: $white;
    }

  }

  
}