@import '../1_settings/';

.c-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  max-width: 100%;
  overflow: hidden;
  background: rgb(153,153,153);
  background: radial-gradient(circle, rgba(134,136,139,1) 0%, rgb(66, 71, 78) 100%);
  background-size: 100% 100vh;
  position: relative;
  overflow: hidden;
}

.c-header__status {
  margin-top: 60px;
  font-size: 14px;
  color: rgb(255, 220, 22);
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  border: 2px solid rgb(255, 220, 22);
  padding: 5px 10px;
  text-transform: uppercase;
}

.c-header__subtitle{
  color: #fff;
  font-size: 16px;
  font-family: Kanit;
  font-weight: 300;
  letter-spacing: 4px;
  margin-top: 10px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  width: 450px;
  padding: 5px 0;
  text-align: center;
  font-family:'Montserrat', sans-serif;

  @media (max-width: 600px){
    max-width: 90vw;
    font-size: 0.8em;
  }
}

.c-header__navlist{
  position: absolute;
  top: 20px;
  right: 50px;
  color: #fff;
 
}

.c-header__navlist ul{
  display: flex;
  justify-content: space-around;
}
.c-header__navlist ul a{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
  padding-right: 15px;
  font-size: 14px;
  

  &:hover{
    color: $blue;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    transition: all .3s;
    transform-origin: left;


  }
}

.c-header__navlist ul a + a {
  border-left: 2px solid rgba(170, 170, 170, 0.678);
  padding-left: 15px;
}


.c-header__logo{
  width: 500px;

  @media (max-width: 600px){
    max-width: 90vw;
  }
}

.c-header__navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background: rgb(153,153,153);
  background: radial-gradient(circle, rgba(134,136,139,1) 0%, rgba(30,31,32,1) 100%);
  background-size: 100vw 100vh;
  position: relative;
  overflow: hidden;
}

.c-header__navbar .header__logo{
  width: 180px;
  margin-left: 25px ;
}