.footer{
  background-color: #2b3136;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  color: #fff;
  font-size: 1em;
  height: 8vh;
  grid-area: footer;


  @media (max-width: 600px){
    justify-content: center;
  }
}


.footer__social{
  display: flex;
  align-items: center;
  justify-content: center;
 
  li {
    display: block;
    margin: 0 10px;
    
    &:hover{
      color: #198efc;
      transform: scale(1.1);
    }
    
  }

  li a{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }
  
  li i{
    color: inherit;
  }
}



