@import '../1_settings/';

.c-projects__item{
  background-color: #190575;
  color: $white;
  font-weight: bold;
  font-size: 14px;
  margin-right: 20px;
  
  &.js{
    background-color: rgb(223, 223, 24);
    color: #000
  }
  &.php {
    background-color: #4a0fb8;
  }
  
  &.jv {
    background-color: #b80f1d;
  }

  &.py {
    background-color: #190575;
  }
}