@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: Helvetica, Arial, sans-serif; 
}




body{
  width: 100vw;
  overflow-x: hidden;
}

.header{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background: rgb(153,153,153);
  background: rgb(156,165,167);
  background: radial-gradient(circle, rgba(156,165,167,1) 1%, rgba(68,68,70,1) 94%);
  background-size: 100vw 100vh;
  position: relative;
  overflow: hidden;
}

.header-content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.logo-flutuante{
  display: flex;
  flex-direction: column;
}

.logo-flutuante img{
  height: 35vh;
  animation: flutua 2.6s linear infinite;
}

#sombra{
  width: 100%;
  height: 5px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 20px 20px 20px #2b3136;
}

@keyframes flutua{
  0%{
    margin-bottom:0
  }    
  50%{
    margin-bottom: 20px;
  }
  100%{
    margin-bottom: 0;
  }

}

.logo-container{
  display: flex;
  align-items: center;
  margin-left: 4em;
  padding:0;
}

.social-header{
  position: absolute;
  bottom: 80px;
  left: 80px;
  width:120px;
  font-size: 1.1em;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 600px){
  .social-header{
    flex-direction: column;
    left: 20px;
    top: 30px;
    bottom: auto;
  }

  .social-header a {
    margin: 10px 0;
    
  }
}

.social-header a{
  color: white;
}

.logo{
  display: none;
  width: 250px;
  /* height: 49px; */
  margin-top: 2.8em;
  margin-left: 2.5em;
  top: 150px;
}

.nome{
  font-family: 'Kanit', sans-serif;
  font-size: 5em;
  color: #198efc;
  margin:0;
  padding: 0;
 }

 /* NAVBAR */
 .navbar{
   margin-right: 40px;
   margin-top: 50px;
 }

 .navbar__list{
   display: flex;
   color: #fff;
   width: 500px;
   justify-content: space-around;
 }

 .navbar__list > li{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding: 5px 20px;
   font-size: 1.3rem;
   font-weight: bold;
   color: #ffffff;
   text-shadow: 1px 1px 1px rgb(58, 54, 54);
 }

 .navbar__list > li:hover{
   /* border-bottom: 2px solid #3edef3; */
   background-color: #198efc;
   border-radius: 20px;
   padding: 5px 20px;
   color:  #fff;
   cursor: pointer;
   text-shadow: none;
 }

.manchete{
  text-transform: uppercase;
  text-justify: center;
  right: 9.5em;
  top: 18em;
  bottom: auto;
}

.manchete h1{
  font-size: 2.5rem;
  color: #000;
}

.code{
  height: 10vh;
  width: 110%;
  background-size: 50%;
  left: -100px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.seta{
  color: #fff;
  width: 20px;
  font-size: 1.5em;
  opacity: 0.5;
  position: absolute;
  bottom: 10px;
  margin-left: 48%;
  animation: seta 1s linear infinite;
}

@keyframes seta{
  from{
    bottom: 20px
  }
}

.about{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 1em 0;
}

.about__text{
  width: 30em;
  padding: 50px;
  margin: 2em;
  color: #000;
  border-radius: 20px;
  position: relative;
}
.name-title{
  display: flex;
}
#nome{
  background-color: rgb(109, 110, 110);
  color: #fff;
}
#sobrenome{
  background-color: rgb(8, 71, 243);
}

.about__text h2{
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: inherit;
  margin-bottom: 0.5em;
}

.about__text p{
  font-size: 1.7em;
  font-family: Arial, Helvetica, sans-serif;
  color: inherit
}

#curriculo{
  background-color: transparent;
  width: 80px;
  height: 2em;
  border: 1px solid gray;
  margin: .5em 0;
  font-weight: bold;
  border-radius: 3.5px;
  margin-left: auto;
  display: block;
  cursor: pointer;
  color: gray;
 }

 #curriculo:hover{
   background-color: rgb(51, 51, 190);
   color: #fff;
   border: none;
 }

.perfil{
  margin-right: 50px;
  margin-left: 45px
}

.techs{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5em 0;
  background-color: #fff;
}

.techs img{
  height: 60px;
  margin: 5px 20px;
}


.contact{
  margin-top: 3em;
  background-color: #2b3136;
  display: flex;
  color: #fff;
  font-size: 1.3em;
}

.contact__text{
  margin-left: 100px;
  margin-bottom: 2em;
}

.social{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.social ul{
  margin-left: 100px;
}

.social li {
  display: block;
  height: 2em;
}

.social li a{
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.social li i{
  color: inherit;
}

.social ul li:nth-child(1):hover{
  color: blueviolet;
  transform: scale(1.1) translateX(20px);
}

.social ul li:nth-child(2):hover{
  color: rgb(62, 62, 233);
  transform: scale(1.1) translateX(20px);
}

.social ul li:nth-child(3):hover{
  color: rgb(49, 177, 49);
  transform: scale(1.1) translateX(20px);
}

.social ul li:nth-child(4):hover{
  color: rgb(250, 250, 40);
  transform: scale(1.1) translateX(20px);
}

.social ul li:nth-child(5):hover{
  color: orangered;
  transform: scale(1.1) translateX(20px);
}
.social ul li:nth-child(6):hover{
  color: red;
  transform: scale(1.1) translateX(20px);
}

.message{
  width: 50%;
}


.message > form{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  padding: 30px 0;
}

.message input{
  margin: 10px 0;
  height: 2em;
  padding-left: 0.5em;
  color: #000;
}

.message textarea{
  margin-top: 10px;
}

.message button{
  margin-top: 10px;
  height: 2em;
  width: 10em;
  font-weight: bold;
  margin-left: auto; 
}


/* TOOLTIP */

.tech__item{
  position: relative;
  display: inline-block;
  /* border-bottom: 1px solid black; */
}

.tech__item .tooltip-text{
  visibility: hidden;
  /* width: 120px; */
  background-color: #198efc;
  color:#fff;
  text-align: center;
  padding: 10px 10px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.3s;
}

.tech__item .tooltip-text::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid;
  border-color: #198efc transparent transparent transparent;
}

.tech__item:hover .tooltip-text{
  visibility: visible;
  opacity: 1;
}


.contacts-btn{
  background-color: teal;
  position: fixed;
  /* width: 200px;
  height: 200px; */
  right: 0;
  bottom: 0;
}

.core{
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #198efcb7;
  font-size: 4em;
  border-radius: 50%;
  /* padding: 20px; */
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin: 0 auto

}

.out{
  position: relative;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.883);
}

.code{
  display: flex;
  flex: 1 0 auto;
  position: relative;
  height: 100vh;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}


/* PROJECTS */

.projects{
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 5em 2em;
}

.categories-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3em;
}

.categories-container li{
  display: block;
  min-width:100px;
  height: 1.5em;
  background-color: #fff;
  color:#198efc;
  text-align: center;
  padding: 0.5em 0.5em; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 20px;
  border: 1px solid #198efc;
  line-height: 28px;
}

.categories-container li:hover{
  background-color: #198efc;
  color: #fff;
  cursor: pointer;
}

.projects__category{
  color: #000 ; 
  width: 50%;
  display: block;
  margin: auto;
  /* background-color: green; */
}

.projects__repository{
  display: flex;
  flex-wrap: wrap;
}

.projects__repository__items{
  width: 300px;
  height: 300px;
  border: 1px solid #000;
}

.projects__repository__items:nth-child(odd){
  background-color: rgb(62, 62, 233);
}

.projects__repository__items:nth-child(even){
  background-color: rgb(62, 233, 225);
}



.mais-info{
  /* display: none; */
  background-color: #198efc56;
  height: 0vh;
}

.open-info{
  display: block;
  height: 100vh;
  transition: height 0.5s linear;
}

.selected{
  background-color: #198efc!important;
  color: #fff !important;
}

.projects-content{
  width: 100vw;
}

#ps{
  display: none;
  background-color: teal;
  height: 50vh;
  width: 100%;
  margin-top: 2em;
}

.show{
  display: block !important;
 
}
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
.test{
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 4.3rem;
  /* border: 1px solid teal; */
  border-left: none;
  border-right: none;
  /* padding: 1em; */
  width: 400px;
  margin: 0 auto;
  margin-top: 0.5em;
  color: rgb(19, 19, 116);
  
}
