details {
  margin-bottom: 15px;
  min-width: 100%;
 
  ul{
    margin-left: 50px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    list-style: none;
  }

  p{
    margin-left: 15px;
    margin-top: 5px;
    font-size: 14px;
    line-height: 20px;
  }
  
  &[open]{
    summary{
      background-color: $ligthblue;
      line-height: 25px;
      font-weight: bold;
      color: $white;
    }
  }

  summary{
    min-width: 100%;
    padding-left: 8px;

    &:hover{
      font-weight: bold;
      cursor: pointer;
      color: $darkblue;
    }
  }  
}