*, *::after, *::before  {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 200px 2fr 300px;
     grid-template-areas: 
        "header header header"
        "lateralnav main aside"
        "footer footer footer";
    min-height: 100vh;
    grid-gap: 20px
}

.header{
    grid-area: header;
    background-color: rgb(97, 97, 97);
}

.main{
    grid-area: main;
    padding: 20px; 
    
}

.lateralnav{
    grid-area: lateralnav;
    background-color: lightskyblue;
}

.aside{
    grid-area: aside;
    background-color: lightseagreen;
}

.footer{
    grid-area: footer;
    height: 50px;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.logo-blog{
    width: 200px;
    margin: 20px;
}

@media (max-width: 360px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "main"
            "footer"
            "aside"
            "lateralnav";
        min-height: 100vh;
        grid-gap: 20px
    }
}