.designGridContainer{
  display: flex;
  width: 100%;
  margin: 150px auto;

  @media (max-width: 600px) {
    margin: 50px auto;
  }
}

.designGrid{
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: repeat(4, 250px);
  grid-gap: 10px;
  margin: 0 auto;
  
  @media (max-width: 600px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 140px);
    grid-auto-rows: auto;
  }
}

.grid-item{
  position: relative;
  overflow: hidden;
}


.tech__name-up{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.5em;
  color: $white;
  font-weight: bold;
  letter-spacing: 1px;
}
.tech__name-bottom{
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 1.5em;
  color: $white;
  font-weight: bold;
  letter-spacing: 1px;
}

.img-up{
  box-shadow: -10px 10px 0 0 $blue-2;
}

.img-bottom{
  box-shadow: 10px -10px 0 0 $blue-2;
}

.design_project{
  width: 100%;
  height: 100%;
  filter: grayscale(100);
  opacity: .5;

  @media (max-width: 600px) {
    height: auto;
    filter: none;
    opacity: 1;
  }
}

.design_project:hover{
  opacity: 1;
  filter: none;
}

.gif{
  height: 105%;
  width: auto;
  margin-left: -105px;

  @media (max-width: 600px) {
   margin-left: -60px;
  }
}

.design__tech{
  opacity: 1;
  filter: none;

}