.slide__filterWrap{
  margin: 0 auto;
  margin-bottom: 82px;
  margin-top: 100px;
  width: 50%;

  h4{
    margin: 0 auto;
    color: $gray-3;
    font-weight: 600;
    text-align: center;
  }
}

.slide-section{
  margin-bottom: 50px;
}

.slideWrap{
  overflow: hidden;
  position: relative;
  margin-bottom: 120px;
}

.slideWrap ul {
  list-style: none;
  // overflow: hidden;
}

.slide{
  display: flex;
  transform: translate3d(-421.5px, 0, 0);
}

.slide:hover{
  will-change: transform;
}

.slide li{
  width: 40vw;
  flex-shrink: 0;
  max-width: 800px;
  margin: 0 20px;
  opacity: .5;
  transform: scale(.8);
  transition: .4s;

  // @media (max-width: 600px){
  //   .slide li{
  //     width: 90%;
  //   }
  // }
}

.slide__img{
  display: block;
  width: 100%;
}


.slide li.activeCertificate{
  opacity: 1;
  transform: scale(1);
  // box-shadow: 0px 5px 2  5px rgba(0, 0, 0, .5);
}

.slideButtonWrap{
  position: absolute;
  z-index: 1000;
  top: 0px;
  right: 0;

}

.slideButton{
  width: 50px;
  font-size: 24px;
  border: 0;
  color: $blue-2;
  cursor: pointer;

  &:hover{
    background: rgba($gray-1b, .9);

  }
}

