.footer{
  background-color: $gray-5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  color: $white;
  font-size: 1em;
  height: 8vh;
  grid-area: footer;


  @media (max-width: 600px){
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 30px 0;
  }
}


.footer__social{
  display: flex;
  align-items: center;
  justify-content: center;
 
  li {
    display: block;
    margin: 0 10px;
    
    &:hover{
      color: $blue-2;
      transform: scale(1.1);
    }
    
  }

  li a{
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }
  
  li i{
    color: inherit;
  }

  @media (max-width: 600px){
    margin-top: 10px; 
    
  }
}

.footer__social li a{
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  i {
    margin: 5px;
  }
}


