@use '../../1_settings/colors';

.header{
    position: relative;
    max-width: 100%;
    grid-area: header;
}

.header__navlist{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header--small{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    background: $gray-gradient-2;
    box-shadow: $shadow-1;
    height: 5em;
    color: white;
    
.header__navlist{
    position: absolute;
    top: auto;
    right: 50px;
    color: $white;
    display: flex;
  }
}

.header__logo--small{
    max-width: 150px;
}

@media (max-width: 600px) {
    .header__navlist{
        display: none;
    }
}