.mobile__menu{
  position: fixed;
  background: $blue-gradient;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  transform: translateX(-100%);
  transition: all .5s ease-in ;
  border-color: transparent;
}

.mobile__menu ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;

  a{
    display: inline-block;
    color: $white;
    font-weight: bold;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 2em;
    padding: 10px 20px;
    text-align: center;
    transition: all .3s;

    &:hover{
      background: #97d6f3 !important;
    }
  }
  
  a:nth-child(1){
    background-color: $blue-3;
  }

  a:nth-child(2){
    background-color: $blue-2;
  }
  a:nth-child(3){
    background-color: $blue-1;
  }

  a:active, a:visited{
    color: $white;
  }

  
}

.hidden{
  overflow: hidden;
}

.showMenu{
  transform: translateX(0);
}

@keyframes entrance {
  from{
    transform: translateY(-300px);
  }
 to{
    transform: translateY(0px)
  } 
}