*{
  margin: 0;
  padding:0;
}

#bgblue{
  background: linear-gradient(171.24deg, #0A57CA 3.91%, #00CDFF 46.05%, #4CDCFF 90%, #0A84C7 110.03%);
  background-color: #0A57CA;
  height: 100vh;
  width:100%;
 
}