.c-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100vw;
  background: #999999;
  background: radial-gradient(circle, #86888b 0%, #42474e 100%);
  background-size: 100vw 100vh;
  position: relative;
  overflow: hidden;
}

.c-header__subtitle {
  color: #fff;
  font-size: 16px;
  font-family: Kanit;
  font-weight: 300;
  letter-spacing: 4px;
  margin-top: 10px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  width: 450px;
  padding: 5px 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.c-header__navlist {
  position: absolute;
  top: 20px;
  right: 50px;
  color: #fff;
}

.c-header__navlist ul {
  display: flex;
  justify-content: space-around;
}

.c-header__navlist ul a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-right: 15px;
}

.c-header__navlist ul a + a {
  border-left: 2px solid rgba(170, 170, 170, 0.678);
  padding-left: 15px;
}

.c-header__logo {
  width: 500px;
}

.c-header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background: #999999;
  background: radial-gradient(circle, #86888b 0%, #1e1f20 100%);
  background-size: 100vw 100vh;
  position: relative;
  overflow: hidden;
}

.c-header__navbar .header__logo {
  width: 180px;
  margin-left: 25px;
}

/* PROJECTS */
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
  max-width: 95vw;
  margin: 0 auto;
}

.project {
  margin: 50px 20px;
  padding: 15px;
  width: 35vw;
  min-height: 40vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(182, 181, 184, 0.438);
  transition: all 0.3s;
}

.project:hover {
  transform: scale(1.01);
  z-index: 1;
  box-shadow: 5x 5px 5px 5px rgba(54, 54, 54, 0.438);
}

.project__head {
  width: 90%;
  /* padding-left: 15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.project__links {
  display: flex;
}

.project__links-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.466);
}

.project__links-item:hover {
  color: #000;
}

.project__links-item span {
  font-size: 10px;
  text-transform: uppercase;
  margin: 3px;
}

.project__title {
  font-weight: bold;
  font-size: 18px;
  /* text-transform: uppercase; */
  color: #2b3136;
}

.project__image {
  width: 95%;
  border: 1px solid rgba(128, 128, 128, 0.384);
  border-radius: 10px;
}

.project__image img {
  width: 100%;
  border-radius: 10px;
}

.project__description {
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #3d4347;
}

.project__action {
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.project__action button {
  border: none;
  background-color: #21a0f5;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.techs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1em 0;
  margin-top: 8em;
  background-color: #fff;
}

.tech__item {
  position: relative;
  display: inline-block;
  height: 50px;
}

.tech__item img {
  max-width: 100%;
  max-height: 100%;
}

/* TOOLTIP */
.tech__item .tooltip-text {
  visibility: hidden;
  /* width: 120px; */
  background-color: #198efc;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tech__item .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid;
  border-color: #198efc transparent transparent transparent;
}

.tech__item:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.footer {
  background-color: #2b3136;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  color: #fff;
  font-size: 1em;
  height: 13vh;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social li {
  display: block;
  margin: 0 10px;
}
.footer__social li:hover {
  color: #198efc;
  transform: scale(1.1);
}
.footer__social li a {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
.footer__social li i {
  color: inherit;
}

.grid-structure {
  display: grid;
  grid-template-columns: minmax(250px, 400px) 1fr 1fr;
  grid-template-areas: "header header header" "profile contact contact" "footer footer footer";
}

@media (max-width: 600px) {
  .grid-structure {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "profile" "contact" "footer";
  }
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

a {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

.o-img {
  display: block;
  width: 100%;
}

.o-media {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.o-media__image-wrapper {
  display: block;
  margin: 20px;
}

.c-card-list {
  display: flex;
  flex-wrap: wrap;
  grid-area: contact;
}
@media (max-width: 600px) {
  .c-card-list {
    align-items: center;
    justify-content: center;
    margin: 40px 0;
  }
}

.c-card {
  background-color: #fff;
  border-radius: 5px;
  border: 5px solid #00CDFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  min-width: 380px;
  min-height: 100px;
  margin: 20px;
}
@media (max-width: 600px) {
  .c-card {
    margin: 10px;
  }
}
.c-card__text {
  font-family: Ruda;
}
.c-card__text h3 {
  color: #005EEE;
  font-size: 1.5em;
  margin-bottom: 5px;
}
.c-card__text span {
  color: #000;
}
.c-card:hover {
  background-color: #636869;
  border-color: #484c4d;
  color: #fff;
}
.c-card:hover .c-card__text h3, .c-card:hover .c-card__text span, .c-card:hover .c-contact-icon {
  color: #fff;
}

.c-header {
  position: relative;
}

.c-header--small {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  background: linear-gradient(90.44deg, #282828 1.37%, #414448 100.67%);
  box-shadow: 2px 2px 3px rgba(56, 55, 55, 0.5);
  height: 4em;
  color: #fff;
}

.c-contato-container {
  background: linear-gradient(171.24deg, #0A57CA 3.91%, #00CDFF 46.05%, #4CDCFF 90%, #0A84C7 110.03%);
  min-height: 100vh;
}

.c-profile {
  grid-area: profile;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.c-profile__image {
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.c-profile__text {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  color: #fff;
}
.c-profile__text span {
  color: #000;
}
@media (max-width: 600px) {
  .c-profile {
    margin-top: 50px;
  }
}

.c-contact-icon {
  font-size: 60px;
  color: #00A5FF;
  margin: 0 20px;
}

.c-navbar {
  display: flex;
  text-decoration: none;
}
.c-navbar__item {
  display: block;
  margin: 0 20px;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
