.project__fetch{
  padding: 10px 20px;
  background-color: transparent;
  color: $blue-3;
  margin-top: 64px;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 1.2px;
  border: 3px solid $blue-2;
  border-radius: 5px;
  cursor: pointer;

  &:hover{
    background-color: $blue-2;
    color: $white;
    transition: all .3s ;
  }

  &:active{
    opacity: .8;
    transform: scale(.95);
  }
}

