
@import '../../1_settings/colors';

.navigation{
  padding: 0 64px;
  height: 50px;
  margin-top: 20px;
  background: $white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: $shadow-1;
}

.portfolio h5 {
  color: $gray-4;
}

.navigation ul {
  display: flex;
  // width: 350px
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a{
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .filterText{
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1em;
  text-align: center;
  transition: 0.5s;
  color: $gray-4;
  z-index: 1;
}

.navigation ul li.active a .filterText{
  color: $white;  
}

.navigation ul li:nth-child(2).active a .filterText{
  color: $gray-4;  
}

.indicator{
  position: absolute;
  width: 70px;
  height: 70px;
  background: $blue-2;
  border-radius: 50%;
  border: 6px solid $gray-1;
  transition: 0.5s;
  font-weight: bold;
}


.navigation ul li.active a{
  font-weight: 700 !important;
  color: $white;
}


.navigation ul li:nth-child(1).active ~ .indicator{
  transform: translateX(calc(70px * 0));
  background: $gray-4;
}

.navigation ul li:nth-child(2).active ~ .indicator{
  transform: translateX(calc(70px * 1));
  background-color: $yellow;
}
.navigation ul li:nth-child(3).active ~ .indicator{
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator{
  transform: translateX(calc(70px * 3));
  background-color: $purple;
}
.navigation ul li:nth-child(5).active ~ .indicator{
  transform: translateX(calc(70px * 4));
  background-color: $blue-1;
}
.navigation ul li:nth-child(6).active ~ .indicator{
  transform: translateX(calc(70px * 5));
  background-color: $blue-2;
}
.navigation ul li:nth-child(7).active ~ .indicator{
  transform: translateX(calc(70px * 6));
  background-color: $green;
}
.navigation ul li:nth-child(8).active ~ .indicator{
  transform: translateX(calc(70px * 7));
  background-color: $pink;
}

@media (max-width: 600px) {
  
  .navigation{
    height: 50px;
    align-items: flex-start;
    width: 150px;
    overflow: hidden;
    z-index: 900;
  }
  
  .visible{
    overflow: visible;

  }

  .navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    transition: all .6s;
    box-shadow: $shadow-2;
  }

  .navigation ul li {
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    width: 150px;
    height: 50px;
    z-index: 1;
    justify-content: center;
    background-color: $white;
  }

  .navigation ul li a .filterText{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
  }

  .indicator{
    display: none;
  }

  .navigation ul li:nth-child(1).active{
    background: $gray-4;
  }
  .navigation ul li:nth-child(2).active{
    background-color: $yellow;
  }
  .navigation ul li:nth-child(3).active{
    background-color: $blue-1;
  }
  .navigation ul li:nth-child(4).active{
    background-color: $purple;
  }
  .navigation ul li:nth-child(5).active{
    background-color: $blue-1;
  }
  .navigation ul li:nth-child(6).active{
    background-color: $blue-2;
  }
  .navigation ul li:nth-child(7).active{
    background-color: $green;
  }
  .navigation ul li:nth-child(8).active{
    background-color: $pink;
  }
  
}