.portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  grid-area: projects;
}

@media (max-width: 600px) {
  .portfolio{
    h5{
      display: none;
    }

  }
}
