
.l-1-2cols{
  display: grid;
  grid-template-columns: minmax(250px, 400px) 2fr;
  grid-template-areas: 
    "header header header"
    "profile contact contact"
    "footer footer footer";

    @media (max-width: 600px){
      grid-template-columns: 1fr;
      grid-template-areas: 
        "header"
        "profile"
        "contact"
        "footer";
    }
}

.l-1col{
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "profile"
    "contact"
    "footer";
}

.l-2cols{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "header header"
    "projects projects"
    "techs techs"
    "footer footer";

  @media (max-width: 600px){
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header"
      "projects"
      "techs"
      "footer";
      
    .techs{
      display: none;
    }

    .footer{
      margin-top: 50px;
    }
  }
}

.l-3col{
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "header"
    "profile"
    "contact"
    "footer";
}

@media (max-width: 600px) {

  .grid-structure{
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header"
      "profile"
      "contact"
      "footer";
  }
  
}