@import '../1_settings';

.o-media{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  &__image-wrapper{
    display: block;
    
  }
}

.cv__title-wrapper{
  margin-bottom: 20px;
}


.pdf{
  position: absolute;
  right: 10px;
  border: none;
  background-color: $blue;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px ;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.projetos{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px ;
  margin-top: 30px;

  
}